#bg{
	background-image: url(image/bg5.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.stretch{
	width: 100%;
	height: 100%;
}
