
bg img {
        background: url(image/bg5.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
	background-size: cover;
        -moz-background-size: cover;
        position: relative;
        min-height: 600px;
}
