
#bg img{
        background: url(image/bg5.jpg) no-repeat center 0px;
        -webkit-background-size: cover;
	background-size: cover;
        -moz-background-size: cover;
        min-height: 100%;
	max-width: 100%;
}
